.todo-item {
  width: 100%;
  background-color: rgba(245, 139, 139, 0.6);
  padding: 30px;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item__description {
  flex-basis: 75%;
}

.todo-item__description input {
  padding: 10px;
  width: 100%;
}
